@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{} */

header{
    display: flex;
    background:transparent;
}
.logo{
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-left: 10px;
}
/* Stylign the navigation bar */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    width: 100%;
    align-items: center;
}
ul{
    display: flex;
    margin: 10px;
    padding: 5px;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-items: flex-start;
}
ul li{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}
header a{
    text-decoration: none;
    color: black;

}

/* Styling the Homepage */
.home{
    display: flex;
    background-color:#FDF0D5;
    position: relative;
    height: 80vh;  
    text-align: center;
    justify-content: center;  
}
.home-content{
    display: flex;
    justify-content: space-between;
}
.left-side{
    position: relative;
    text-align: center;
    margin: auto;
}
.right-side img{
    align-items: center;
    width: 75%;
    z-index: 1;
}
.first-heading{
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}
.intro{
    font-family: 30px;
    font-weight: 300;
    margin: 0;
}

/* Styling the about section */
.about{
    display: flex;
    height: 100vh;
    background-color: #C1121F;
    color: whitesmoke;
    align-items: center;
}
.section-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
}
/* .about{
    background-color: #003049;
} */
.experience{
    background-color: #FDF0D5;
}
.projects{
    background-color: #C1121F;
}
.contact{
    background-color: #780000;
}